@font-face {
  font-family: "Futura_Medium";
  src: url("../fonts/FuturaLTPro-Medium.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Futura_Thin";
  src: url("../fonts/Futura Thin.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #212935;
}

h1 {
  padding-top: 20px;
  font-family: "Futura_Medium";
  font-size: 60px

}

p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Futura_Medium";
  font-size: 18px;
}

#spacer {
	height: 30px;
}

#container {
  color: #fefff2;
  display: block;
  margin: 30px auto;
  width: 40%;
  text-align: center;
}

#video1-container {
  max-width: 60% !important;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

#video2-container {
  max-width: 60% !important;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

#song1-container {
  max-width: 60% !important;
  position: relative;
  padding-bottom: 10%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

#song2-container {
  max-width: 60% !important;
  position: relative;
  padding-bottom: 10%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

#song3-container {
  max-width: 60% !important;
  position: relative;
  padding-bottom: 10%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

#song4-container {
  max-width: 60% !important;
  position: relative;
  padding-bottom: 10%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
}

#video1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#video2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#song1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#song2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#song3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#song4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
